[submodule "apoio/bootstrap"]
	path = apoio/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "apoio/jquery"]
	path = apoio/jquery
	url = https://github.com/jquery/jquery.git
[submodule "easy/easyframework"]
	path = easy/easyframework
	url = https://github.com/LellysInformatica/EasyFramework.git